<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="css/mobile.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">

    <script defer src="/javascript/adventCalendarClient.js"></script>
    
    <script>
        window.isMobile = <%= isMobile %>; // Now `isMobile` is globally accessible in JavaScript
    </script>

    <title>Document</title>
</head>
<body>

    <div class="main_container">
        <% if (isMobile) { %>
            <%- include('components/mobile') %>
        <% } else { %>
            <%- include('components/header') %>
            <%- include('components/desktop') %>
        <% } %>    
    </div>

</body>
</html>