* {
    margin: 0;
    padding: 0;

    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;  

    overflow: hidden;

    --main-color: #753837;
    --secondary-color: #A43B3F;
    --third-color: #8D715B;
    --fourth-color: #D4B193;
    --fifth-color: #483F36;

}

.main_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;

    background-image: url('/gfx/bakgrunn.png');
    background-size: cover;
    background-repeat: no-repeat;

}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    padding: 2rem;
}


.grid {
    width: 90%;
    height: 100%;
}

.w {
    width: 100%;
}

.h {
    height: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0;
    margin: 0 auto;
}

.grid_luke {
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative; 
   /* border-radius: 15px;*/
   display: flex;
   align-items:end;
   justify-content: right;

   border: dotted 0.25rem black;

   box-shadow: 0.25rem rgba(0, 0, 0, 0.5);
   background-color: rgba(0, 0, 0, 0.2); /* Dark shadow background */
   color: white;

}

.luke_tekst {
    font-size: 2.5rem;
    margin-right: 1rem;
}


.opened {
    transition: all 0.7s;
}
.opened:hover {

}
.can_Open {
    transition: all 0.5s;
}
.can_Open:hover {
}
.cant_Open {
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}
.cant_Open:hover {
}
.daily-gift {
    animation: jackInTheBox;
    animation-duration: 2s;
    color: var(--secondary-color);
    transition: all 0.5s;
}

.bowtie {
    position: relative; /* Optional: Ensures the div is positioned for any overlay */
    width: 100%; /* Ensures the div is full width */
    height: 100%; /* Ensures the div is full height */
    background-image: url('/gfx/bowtie.png'); /* Add your image URL here */
    background-size: cover; /* Ensures the image covers the entire div without distortion */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    z-index: 10;
}

.bowtie:hover {
    filter: brightness(1.2);
    scale: 1.025;
}

.bowtie_mobile {
    position: relative; /* Optional: Ensures the div is positioned for any overlay */
    background-image: url('/gfx/bowtie_mobile.png'); /* Add your image URL here */
    background-size: cover; /* Ensures the image covers the entire div without distortion */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-blend-mode:soft-light;
}



.infoText {
    font-size: 1em;
    opacity: 0.6;
}
